---
import "../style.css";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Learnmore from "../components/Learnmore.astro";
import Infocard from "../components/Infocard.astro";
import Watchvideosection from "../components/Watchvideosection.astro";
import Clinicaltoolscard from "../components/Clinicaltoolscard.astro";
import Videossection from "../components/Videossection.astro";
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";
import References from "../components/References.astro";
import Burgermenu from "../components/Burgermenu.astro";
---

<Layout title="DERMAWorld" />
<Header />
<div class="burgermenu"><Burgermenu /></div>
<div class="desktopnavigation"><Navigation /></div>
<Hero />
<Learnmore />
<div class="infocard_grid">
  <Infocard infocard_img="9outof10.svg" infocard_h="Long term sustained improvement" infocard_p="9 out of 10 respondents experienced sustained disease control in clinical trials 10, providing sustained improvements in the burden of disease(1,2, 1, 8*†‡). " infocard_a="See efficacy and trial data" />
  <Infocard infocard_img="improvementsintheburdenofdisease.svg" infocard_h="Improvements in the  burden of disease" infocard_p="Patients in clinical trials saw an improvement in Quality of Life with early symptom relief and sustained improvements in burden of disease from week 16 to 32(12,13)." infocard_a="Learn more about quality of life improvements" />
  <Infocard infocard_img="goodsafetyprofile.svg" infocard_h="Good safety profile" infocard_p="The overall frequency and severity of adverse events with Adtralza® were comparable to placebo at 16 weeks* and 52 weeks(19)." infocard_a="See safety profile " />
</div>
<Watchvideosection />
<section class="clinicaltools">
  <h2>Clinical tools - at a glance</h2>
  <div class="clinicaltools_grid">
    <Clinicaltoolscard clinicaltools_img="dosing-guide.avif" clinicaltools_h="Dosing guide" clinicaltools_p="Adtralza® has a straightforward dosing regimen, with 150 mg prefilled syringes(1). " clinicaltools_a="Learn more about application and dosing" />
    <Clinicaltoolscard clinicaltools_img="patient-injection.avif" clinicaltools_h="Patient injection made simple" clinicaltools_p="This step by step video guide shows the patient how to self inject using the two syringes that come in the Adtralza® carton. " clinicaltools_a="Watch the video" />
  </div>
</section>
<Videossection />
<References />
<Footer />
