---
import "../style.css";
---

<button><slot /></button>

<style>
  button {
    background-color: #c017a2;
    border: none;
    width: 216px;
    height: 52px;
    border-radius: 100px;
    cursor: pointer;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 1.25rem;
    font-style: italic;
    font-weight: 200;
  }
  button:hover {
    background-color: #901279;
  }
</style>
