---
const { clinicaltools_img } = Astro.props;
const { clinicaltools_h } = Astro.props;
const { clinicaltools_p } = Astro.props;
const { clinicaltools_a } = Astro.props;
---

<div class="clinicaltools-card">
  <img width="528" height="321" src={clinicaltools_img} />
  <div class="clinicaltools-content">
    <h3>{clinicaltools_h}</h3>
    <p>{clinicaltools_p}</p>
    <a href="">{clinicaltools_a}</a>
  </div>
</div>

<style>
  .clinicaltools-card {
    max-width: 528px;
    background-color: #eeeeee;
    margin-top: 25px;
  }

  h3 {
    font-size: 1.75rem;
  }

  h3,
  p {
    margin-bottom: 1rem;
  }

  .clinicaltools-content {
    padding: 3rem;
  }
  img {
    width: 100%;
  }
</style>
