<div class="clinicaltools-card">
  <img src="public/dosing-guide.png" />
  <h3>Dosing guide</h3>
  <p>Adtralza® has a straightforward dosing regimen, with 150 mg prefilled syringes(1).</p>
  <a href="">Learn more about application and dosing</a>
</div>
