<div class="footer">
  <div class="footer-grid">
    <img src="leo-logo.svg" />
    <div class="copyright">
      <p>© Copyright LEO Pharma 2020<br />LEO and the LEO Lion Design<br />are registered trademarks<br />of LEO Pharma<br />All rights reserved</p>
      <a href="">LEO Pharma corporate website</a>
    </div>
  </div>
  <div class="footermenu">
    <ul>
      <li>Contact</li>
      <li>Imprint</li>
      <li>Conditions</li>
      <li>Terms of use</li>
      <li>Privacy</li>
      <li>Cookie consent</li>
    </ul>
  </div>
</div>

<style>
  .footer {
    background-color: #00609c;
  }

  li {
    float: left;
  }
</style>
