<div class="footer">
  <div class="footer-grid">
    <img src="leo-logo.svg" />
    <div class="copyright">
      <p>© Copyright LEO Pharma 2020<br />LEO and the LEO Lion Design<br />are registered trademarks<br />of LEO Pharma<br />All rights reserved</p>
      <a href="">LEO Pharma corporate website</a>
    </div>
  </div>
  <div class="footermenu">
    <ul>
      <li>Contact</li>
      <li>Imprint</li>
      <li>Conditions</li>
      <li>Terms of use</li>
      <li>Privacy</li>
      <li>Cookie consent</li>
    </ul>
  </div>
</div>

<style>
  .footer {
    background-color: #00609c;
  }

  .footer-grid {
    padding-top: 108px;
  }

  .copyright {
    text-align: right;
    color: #fff;
    font-size: 0.9rem;
    line-height: 25px;
  }

  .copyright a {
    color: #fff;
    font-style: italic;
  }

  li {
    float: left;
  }

  @media only screen and (min-width: 1200px) {
    .footer-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      max-width: 1082px;
      margin: 0 auto;
    }
  }
</style>
