<div class="herosection">
  <img src="public/adtralza_logo.svg" />
  <h2>Adtralza® is a new treatment for adult patients with moderate-to-severe atopic dermatitis (eczema) who are candidates for systemic therapy.</h2>
</div>

<style>
  .herosection {
    height: 300px;
    background-image: url(public/adtralza-hero-image.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  h2 {
    color: white;
  }
</style>
