<div class="herosection">
  <div class="herosection_content">
    <img class="adtralza_logo" src="adtralza_logo.svg" />
    <h2>Adtralza® is a new treatment for adult patients with moderate-to-severe atopic dermatitis (eczema) who are candidates for systemic therapy.</h2>
  </div>
</div>

<style>
  .herosection {
    height: 405px;
    position: relative;
    overflow: hidden;
  }

  .herosection::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(adtralza-hero-image2.png);
    animation: fadeIn 1s;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    filter: brightness(0.5);
    z-index: -1;
  }

  .herosection_content {
    max-width: 1146px;
    margin: 0 auto;
    padding: 60px 2rem;
  }

  .adtralza_logo {
    margin-bottom: 24px;
  }

  .herosection_content h2 {
    max-width: 478px;
  }

  h2 {
    color: white;
    font-size: 1.5rem;
  }

  @media only screen and (min-width: 900px) {
    .herosection::before {
      filter: brightness(1);
    }
  }
</style>
