---
const { infocard_img } = Astro.props;
const { infocard_h } = Astro.props;
const { infocard_p } = Astro.props;
const { infocard_a } = Astro.props;
---

<div class="infocard">
  <img src={infocard_img} />
  <h3>{infocard_h}</h3>
  <p>{infocard_p}</p>
  <a href="">{infocard_a}</a>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const observer = new IntersectionObserver(
      (entries, observer) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            entry.target.classList.add("visible");
            observer.unobserve(entry.target);
          }
        });
      },
      {
        threshold: 0.2,
      }
    );

    const target = document.querySelectorAll(".infocard");
    target.forEach((element) => observer.observe(element));
  });
</script>

<style>
  .infocard {
    width: 278px;
    text-align: center;
    margin-top: 75px;
    margin-bottom: 97px;
    opacity: 0;
    transition: opacity 2s ease-out;
  }

  .infocard.visible {
    opacity: 1;
    transform: translateY(0);
  }

  .infocard h3,
  p,
  a {
    margin-bottom: 1rem;
  }
</style>
