<div class="Infocard">
  <img src="public/9outof10.svg" />
  <h3>Long term sustained improvement</h3>
  <p>9 out of 10 respondents experienced sustained disease control in clinical trials 10, providing sustained improvements in the burden of disease(1,2, 1, 8*†‡).</p>
  <a href="">See efficacy and trial data</a>
</div>
