---
import Button from "../components/Button.astro";
---

<section class="learnmore">
  <div class="grid_1_1">
    <div class="flex_item">
      <img width="528" height="438" src="adtralza-packshot.png" alt="adtralza package" />
    </div>
    <div class="flex_item">
      <div class="flex_content">
        <h2>It is the first and only biologic developed to specifically neutralize IL-13, a key driver of atopic dermatitis signs and symptoms(1,2)</h2>
        <p>Learn more about how Adtralza® works and how to use it in treatment.</p>
        <a href=""><Button>Learn more</Button></a>
      </div>
    </div>
  </div>
</section>

<style>
  .grid_1_1 {
    max-width: 1146px;
    margin: 0 auto;
    padding: 3rem 2rem;
  }
  .learnmore {
    background-color: #eee;
  }

  p {
    font-size: 1.125rem;
  }

  img {
    width: 100%;
  }

  @media only screen and (min-width: 900px) {
    .grid_1_1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .flex_item {
      display: flex;
      flex-direction: horizontal;
      align-items: center;
    }
  }

  .flex_content h2,
  p {
    margin-bottom: 1rem;
  }
</style>
