<nav class="menu">
  <!-- Top-level menu -->
  <ul class="menu-top">
    <li class="menu-item">
      <a href="#">Bedingungen</a>
    </li>
    <li class="menu-item">
      <a href="#">Behandlungen</a>
      <!-- Second-level menu -->
      <ul class="submenu">
        <li class="submenu-item">
          <a href="#">Adtralza </a>
          <!-- Third-level menu -->
          <ul class="thirdlevelmenu">
            <li>
              <a href="#">Overview</a>
            </li>
            <li>
              <a href="#">Mode of Action</a>
            </li>
            <li>
              <a href="#">Efficiancy</a>
            </li>
            <li>
              <a href="#">Quality of Life</a>
            </li>
            <li>
              <a href="#">Safety</a>
            </li>
            <li>
              <a href="#">Dosing</a>
            </li>
            <li>
              <a href="#">News</a>
            </li>
            <li>
              <a href="#">Technical Information</a>
            </li>
          </ul>
        </li>
        <li><a href="#">Diavonex</a></li>
        <li><a href="#">Diavobet</a></li>
        <li><a href="#">Enstilar</a></li>
        <li><a href="#">Fucidin</a></li>
        <li><a href="#">Kyntheum</a></li>
        <li><a href="#">Protopic</a></li>
        <li><a href="#">Skinoren</a></li>
        <li><a href="#">Tralokinumab</a></li>
        <li><a href="#">Xamiol</a></li>
      </ul>
    </li>
    <li class="menu-item"><a href="#">Veranstaltungen</a></li>
    <li class="menu-item"><a href="#">Werkzeuge</a></li>
    <li class="menu-item"><a href="#">Forschung und Erkenntnisse</a></li>
  </ul>

  <style>
    .menu {
      background-color: #fff;
      max-width: 1146px;
      margin: 0 auto;
      padding-left: 2rem;
      padding-right: 2rem;
    }

    .menu-top {
      list-style: none;
      display: flex;
      padding: 1rem 0;
    }

    .menu-top a {
      text-decoration: none;
      color: black;
      font-family: "Open Sans", sans-serif;
      padding-right: 3rem;
      font-style: normal;
      font-weight: 400;
    }

    .menu-top a:hover {
      color: #777;
      font-style: italic;
    }

    .submenu {
      list-style: none;
      background-color: #e6e7e8;
      display: none;
      z-index: 10;
      width: 100%;
      position: absolute;
      left: 0;
      top: 217px;
      padding: 1.5rem;
      padding-left: 153px;
    }

    .submenu li a {
      color: #0066cc;
      text-decoration: none;
      font-family: "Source Sans 3", sans-serif;
      font-size: 1rem;
      font-weight: 400;
      margin-right: -1rem;
    }

    .submenu li a:hover {
      text-decoration: underline;
    }

    .menu-top:hover .submenu {
      display: flex;
    }

    .thirdlevelmenu {
      position: absolute;
      top: 70px;
      left: 0px;
      padding: 1.8rem;
      width: 100%;
      background-color: #00609c;
      z-index: 15;
      display: none;
      padding-left: 153px;
    }

    .thirdlevelmenu li a {
      color: #fff;
      text-decoration: none;
      font-family: "Source Sans 3", sans-serif;
      font-size: 1rem;
      font-weight: 400;
    }

    .submenu:hover .thirdlevelmenu {
      display: flex;
    }
  </style>
</nav>
