<nav class="menu">
  <!-- Top-level menu -->
  <ul class="menu-top">
    <li class="menu-item">
      <a href="#">Bedingungen</a>
      <ul class="submenu">
        <li class="submenu-item">
          <a href="#">Adtralza </a>
          <ul class="thirdlevelmenu">
            <li>
              <a href="#">Overview</a>
            </li>
            <li>
              <a href="#">Mode of Action</a>
            </li>
            <li>
              <a href="#">Efficiancy</a>
            </li>
            <li>
              <a href="#">Quality of Life</a>
            </li>
            <li>
              <a href="#">Safety</a>
            </li>
            <li>
              <a href="#">Dosing</a>
            </li>
            <li>
              <a href="#">News</a>
            </li>
            <li>
              <a href="#">Technical Information</a>
            </li>
          </ul>
        </li>
        <li><a href="#">Diavonex</a></li>
        <li><a href="#">Diavobet</a></li>
        <li><a href="#">Enstilar</a></li>
        <li><a href="#">Fucidin</a></li>
        <li><a href="#">Kyntheum</a></li>
        <li><a href="#">Protopic</a></li>
        <li><a href="#">Skinoren</a></li>
        <li><a href="#">Tralokinumab</a></li>
        <li><a href="#">Xamiol</a></li>
      </ul>
    </li>
    <li class="menu-item">
      <a href="#">Behandlungen</a>
      <ul class="submenu">
        <li><a href="#">Overview</a></li>
        <li><a href="#">Mode of Action</a></li>
        <li><a href="#">Efficacy</a></li>
        <li><a href="#">Quality of Life</a></li>
        <li><a href="#">Safety</a></li>
        <li><a href="#">Dosing</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">Technical Information</a></li>
      </ul>
    </li>
    <li class="menu-item"><a href="#">Veranstaltungen</a></li>
    <li class="menu-item"><a href="#">Werkzeuge</a></li>
    <li class="menu-item"><a href="#">Forschung und Erkenntnisse</a></li>
  </ul>

  <style>
    .menu {
      background-color: #fff;
      max-width: 1146px;
      margin: 0 auto;
      padding-left: 2rem;
      padding-right: 2rem;
    }

    .menu-top {
      list-style: none;
      display: flex;
      padding: 1rem 0;
    }

    .menu-top a {
      text-decoration: none;
      color: black;
      font-family: "Source Sans Pro", sans-serif;
      padding-right: 2rem;
      font-style: normal;
      font-weight: 400;
    }

    .menu-top a:hover {
      color: #222;
    }

    .submenu {
      list-style: none;
      position: absolute;
      width: 100%;
      right: 0;
      background-color: #e6e7e8;
      display: none; /* Hidden by default */
      z-index: 10;
      max-width: 1146px;
      margin: 0 auto;
      padding-left: 2rem;
      padding-right: 2rem;
    }

    .submenu li a {
      color: #0066cc;
      text-decoration: none;
      font-family: "Open Sans", sans-serif;
      font-size: 1rem;
      font-weight: 400;
    }

    .submenu li a:hover {
      text-decoration: underline;
    }

    .menu-item:hover .submenu {
      display: flex;
    }

    .thirdlevelmenu {
      position: absolute;
      top: 37px;
      left: -15px;
      padding: 3rem;
      background-color: #00609c;
      z-index: 15;
      display: none;
    }

    .thirdlevelmenu li a {
      color: #fff;
      text-decoration: none;
      font-family: "Open Sans", sans-serif;
      font-size: 1rem;
      font-weight: 400;
    }

    .submenu-item:hover .thirdlevelmenu {
      display: flex;
    }

    /* 2nd-level submenu for Behandlungen */
    .menu-item .submenu li {
      position: relative;
    }

    .menu-item .submenu li .submenu {
      left: 100%;
      top: 0;
      display: none;
    }

    .menu-item .submenu li:hover .submenu {
      display: block;
    }
  </style>
</nav>
