<header>
  <div class="topbar">
    <img src="public/dermaworld.svg" />
    <div class="logout">Logout <img src="public/login.svg" /></div>
    <div class="searchbar">
      <input type="text" placeholder="SEARCH" />
      <img src="public/search.svg" />
    </div>
  </div>
</header>

<style></style>
