<header>
  <div class="topbar">
    <div class="flex_item">
      <a href="index.html"><img class="dermaworld-logo" src="public/dermaworld.svg" /></a>
    </div>
    <div class="flex_item">
      <div class="searchbar">
        <input type="text" placeholder="SEARCH" />
        <img src="public/search.svg" />
      </div>
      <div class="logout"><span>Logout</span><img src="public/login.svg" /></div>
    </div>
  </div>
</header>

<style>
  .topbar {
    max-width: 1146px;
    margin: 0 auto 48px auto;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .dermaworld-logo {
    width: 158px;
  }
  .searchbar {
    position: relative;
    width: 100%;
    margin: 1rem 0;
  }

  .searchbar input {
    width: 100%;
    padding-right: 26.5px;
    padding-left: 26.5px;
    height: 51px;
    border: 1px solid #ccc;
    border-radius: 25.5px;
    font-size: 0.75rem;
  }

  .searchbar img {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }

  span {
    margin: 0 0.5rem 0 3rem;
    font-family: "Source Sans 3", sans-serif;
  }

  .logout {
    position: absolute;
    top: 50px;
    right: 50px;
  }

  @media only screen and (min-width: 800px) {
    .topbar {
      display: flex;
      justify-content: space-between;
    }

    .searchbar {
      width: 354px;
    }

    .flex_item {
      display: flex;
      align-items: center;
      opacity: 0.8;
    }

    .logout {
      position: static;
    }
  }
</style>
