---

---

<h2>KOL Videos - get expert insights here</h2>
<p>See what Key opinion leaders have to say about their experiences with Adtralza®</p>

<div class="grid_1_1">
  <div class="flex_item">
    <iframe width="200" height="auto" src="https://www.youtube.com/embed/phWxA89Dy94?si=ke7ewGOE18peZpBl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <div class="flexcontent">
      <h4>Video title</h4>
      <p>Short description of the contents or subject of the video. You can upload a screen from the video as thumbnail image</p>
    </div>
  </div>
  <div class="flex_item">
    <iframe width="200" height="auto" src="https://www.youtube.com/embed/phWxA89Dy94?si=ke7ewGOE18peZpBl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <div class="flexcontent">
      <h4>Video title</h4>
      <p>Short description of the contents or subject of the video. You can upload a screen from the video as thumbnail image</p>
    </div>
  </div>
  <div class="flex_item">
    <iframe width="200" height="auto" src="https://www.youtube.com/embed/phWxA89Dy94?si=ke7ewGOE18peZpBl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <div class="flexcontent">
      <h4>Video title</h4>
      <p>Short description of the contents or subject of the video. You can upload a screen from the video as thumbnail image</p>
    </div>
  </div>
  <div class="flex_item">
    <iframe width="200" height="auto" src="https://www.youtube.com/embed/phWxA89Dy94?si=ke7ewGOE18peZpBl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <div class="flexcontent">
      <h4>Video title</h4>
      <p>Short description of the contents or subject of the video. You can upload a screen from the video as thumbnail image</p>
    </div>
  </div>
</div>

<style>
  .flex_item {
    display: flex;
    flex-direction: horizontal;
    align-items: center;
    gap: 2rem;
  }
</style>
