---

---

<section class="videossection">
  <div class="videossection_top">
    <h2>KOL Videos - get expert insights here</h2>
    <p>See what Key opinion leaders have to say about their experiences with Adtralza®</p>
  </div>
  <div class="grid_1_1">
    <div class="flex_item">
      <iframe width="200" height="auto" src="https://www.youtube.com/embed/phWxA89Dy94?si=ke7ewGOE18peZpBl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      <div class="flexcontent">
        <h3>Video title</h3>
        <p>Short description of the contents or subject of the video. You can upload a screen from the video as thumbnail image</p>
      </div>
    </div>
    <div class="flex_item">
      <iframe width="200" height="auto" src="https://www.youtube.com/embed/phWxA89Dy94?si=ke7ewGOE18peZpBl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      <div class="flexcontent">
        <h3>Video title</h3>
        <p>Short description of the contents or subject of the video. You can upload a screen from the video as thumbnail image</p>
      </div>
    </div>
    <div class="flex_item">
      <iframe width="200" height="auto" src="https://www.youtube.com/embed/phWxA89Dy94?si=ke7ewGOE18peZpBl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      <div class="flexcontent">
        <h3>Video title</h3>
        <p>Short description of the contents or subject of the video. You can upload a screen from the video as thumbnail image</p>
      </div>
    </div>
    <div class="flex_item">
      <iframe width="200" height="auto" src="https://www.youtube.com/embed/phWxA89Dy94?si=ke7ewGOE18peZpBl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      <div class="flexcontent">
        <h3>Video title</h3>
        <p>Short description of the contents or subject of the video. You can upload a screen from the video as thumbnail image</p>
      </div>
    </div>
  </div>
</section>

<style>
  .videossection {
    background-color: #eee;
    padding: 3rem 0;
  }

  .grid_1_1 {
    max-width: 1146px;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .flex_item {
    margin-bottom: 66px;
    margin-right: 2rem;
  }

  .videossection_top {
    max-width: 1146px;
    margin: 0 auto;
    margin-bottom: 55px;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  h3 {
    color: #00609c;
    font-size: 1rem;
    margin-top: 1rem;
  }

  iframe {
    width: 100%;
  }

  @media only screen and (min-width: 600px) {
    .flex_item {
      display: flex;
      flex-direction: horizontal;
      align-items: center;
      gap: 2rem;
      margin-bottom: 66px;
      margin-right: 2rem;
    }
    h3 {
      margin-top: 1rem;
    }
  }

  @media only screen and (min-width: 1200px) {
    .videossection {
      padding: 94px;
    }
    h2,
    p {
      max-width: 1082px;
      margin: 0 auto;
    }
    .grid_1_1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
</style>
