---
import Button from "../components/Button.astro";
---

<section class="watchvideosection">
  <h2>Adtralza® neutralizes IL-13, a key driver of Atopic Dermatitis signs and symptoms.</h2>
  <div class="grid_1_1">
    <div class="flex_item">
      <p>By specifically targeting the IL-13 cytokine, Adtralza® inhibits the interaction with type II receptors and prevents IL-13-induced inflammatory responses in the skin(1,2).</p><p>Adtralza® selectively modulates the dysregulated immune system by(1):</p><ul><li>— Reducing markers of skin inflammation</li><li>— Improving markers of skin barrier integrity</li><li>— Reducing epidermal thickness</li></ul>
      <a href=""><Button>Watch video</Button></a>
      <p class="duration">Duration: 2:43</p>
    </div>
    <div class="flex_item">
      <img src="adtralza-chemistry.avif" alt="adtralza chemistry" />
    </div>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const observer = new IntersectionObserver(
        (entries, observer) => {
          entries.forEach((entry) => {
            if (entry.isIntersecting) {
              entry.target.classList.add("visible"); // Add the "visible" class to trigger the animation
              observer.unobserve(entry.target); // Optional: Stop observing after the animation
            }
          });
        },
        {
          threshold: 0.1, // Trigger when 10% of the element is visible
        }
      );

      const target = document.querySelectorAll(".watchvideosection");
      target.forEach((element) => observer.observe(element));
    });
  </script>

  <style>
    p {
      margin: 0.5rem 0;
    }
    .watchvideosection {
      background-color: #eee;
      opacity: 0;
      transform: translateX(-100px); /* Optional: Adds a slide-up effect */
      transition:
        opacity 2s ease-out,
        transform 0.9s ease-out;
    }

    .watchvideosection.visible {
      opacity: 1;
      transform: translateY(0);
    }

    .duration {
      font-size: 0.875rem;
    }

    ul {
      margin: 1.5rem 0;
    }

    h2 {
      max-width: 1146px;
      margin: 3rem auto 2rem auto;
      padding-left: 2rem;
      padding-right: 2rem;
      padding-top: 3rem;
    }

    .grid_1_1 {
      max-width: 1146px;
      margin: 0 auto;
      padding-left: 2rem;
      padding-right: 2rem;
      padding-bottom: 3rem;
    }

    img {
      width: 100%;
    }

    @media only screen and (min-width: 1100px) {
      .watchvideosection {
        padding: 91px;
      }

      h2 {
        margin-top: 0;
      }
      .grid_1_1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
      }

      .flex_item {
        display: flex;
        flex-direction: column;
      }
    }
  </style>
</section>
