* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  width: 100%;
  overflow-x: hidden;
}

#wrapper {
  max-width: 1442px;
  margin: 34px auto;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
  font-style: italic;
}

a {
  color: #c017a2;
  text-decoration: none;
  font-weight: 200;
  font-style: italic;
  font-family: "Open Sans", sans-serif;
}

h2,
h3,
h4 {
  color: #00609c;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-weight: 200;
  font-size: 1.75rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  color: #00609c;
  font-size: 1rem;
}

ul {
  list-style-type: none;
}

ul li {
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.infocard_grid {
  width: 278px;
  margin: 0 auto;
}

.clinicaltools {
  margin: 4rem 0;
}

.clinicaltools_grid {
  max-width: 1146px;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.clinicaltools h2 {
  max-width: 1146px;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.desktopnavigation {
  display: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (min-width: 900px) {
  #wrapper {
    max-width: 1442px;
    margin: 34px auto;
  }

  .infocard_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 1082px;
    margin: 0 auto;
  }

  .clinicaltools_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .clinicaltools {
    margin: 0;
    padding: 121px 0;
  }

  .desktopnavigation {
    display: block;
  }

  .burgermenu {
    display: none;
  }
}
