* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  width: 100%;
}

#wrapper {
  max-width: 1442px;
  margin: 34px auto;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
  font-style: italic;
}

a {
  color: #c017a2;
  text-decoration: none;
  font-weight: 200;
  font-style: italic;
  font-family: "Open Sans", sans-serif;
}

h2,
h3,
h4 {
  color: #00609c;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-weight: 200;
  font-size: 1.75rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  color: #00609c;
  font-size: 1rem;
}

ul {
  list-style-type: none;
}

ul li {
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.infocard_grid {
  width: 278px;
  margin: 0 auto;
}

@media only screen and (min-width: 900px) {
  .infocard_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 1082px;
    margin: 0 auto;
  }

  .clinicaltools_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1082px;
    margin: 0 auto;
  }

  .clinicaltools {
    max-width: 1082px;
    margin: 0 auto;
    padding: 121px 0;
  }
}
